.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  background: var(--light-blue);
}

.footer_text {
  font-size: 1rem;
  color: var(--dark);
}

.footer_margin {
  margin: 30px 0;
}

.footer_text.footer_text_gray {
  color: var(--gray)
}

.footer_container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.footer_container:nth-child(3) {
  align-self: flex-start;
}

.footer_container ul {
  list-style: none;
}

.footer_container li {
  color: var(--gray);
  margin-top: 10px;
}

.footer_subtitle {
  margin-bottom: 30px;
}

.footer_logo {
  width: 200px;
}
