.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f6;
    margin: 0;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 10px;
}

.btn-primary {
    padding: 10px;
    font-weight: 500;
}