.container {
  max-width: 900px; 
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h2, h3 {
  color: #34495e;
  margin-bottom: 15px;
}

h2{
  text-align: center;

}

h3 {
  margin-top: 10px;
  text-align: left;
  color: #34495e;
}

p {
  margin: 6px 0;
  font-size: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 5px;
  transition: border 0.2s;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

.grid {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1fr;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.col {
  padding: 10px;
}

.col:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,0.1);
  padding-right: 20px;
}

.col-acao {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; 
  }

  .col:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
  }
}