@use '@angular/material' as mat;

@include mat.core();

$custom-primary: (
  50: #E3F5F7,
  100: #B9E5EC,
  200: #88D9E6,
  300: #57C7D5,
  400: #35B8CF,
  500: #1A889A,
  600: #177A8B,
  700: #136C7C,
  800: #105E6D,
  900: #0B4A56,
  contrast: (
    50: #171B17, 100: #171B17, 200: #171B17, 300: #171B17,
    400: #171B17, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff,
  )
);

$custom-accent: (
  50: #EAF9FC,
  100: #D5F2F9,
  200: #AAEAF5,
  300: #88D9E6,
  400: #6BCDD9,
  500: #AAEAF5,
  600: #35B8CF,
  700: #1A889A,
  800: #136C7C,
  900: #0B4A56,
  contrast: (
    50: #171B17, 100: #171B17, 200: #171B17, 300: #171B17,
    400: #171B17, 500: #171B17, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff,
  )
);

$frontend-primary: mat.define-palette($custom-primary, 500);
$frontend-accent: mat.define-palette($custom-accent, 500);

$frontend-warn: mat.define-palette(mat.$red-palette);

$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($frontend-theme);
