<app-card-visualizacao>

  <h2>Portal do Funcionário</h2>

  <div class="saudacao-funcionario">
    Olá, {{ nomeFuncionario }}!
  </div>

  <div class="aviso-solicitacoes">
  Essas são as solicitações abertas que precisam da sua atenção imediata.
</div>

  <app-tabela
    [colunas]="colunas"
    [dados]="solicitacoesAbertas"
    [acoes]="acoes"
    (acaoClicada)="onAcaoTabela($event)">
  </app-tabela>

  <app-paginacao
    [number]="paginaAtual"
    [totalElements]="totalElements"
    [itensPorPagina]="itensPorPagina"
    (paginaChange)="onPaginaMudou($event)">
  </app-paginacao>

</app-card-visualizacao>
