<div class="cadastro-container">
  <app-card-visualizacao>
    <div class="header-text">
      <h1>Crie sua conta</h1>
      <p>Preencha as informações para criar sua conta no sistema</p>
      <hr class="divider">
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      
      <div class="secao-ajustada">
        <h3 class="titulo-secao">Dados Pessoais</h3>
        <div class="wrapper-individual">
          <app-input titulo="Nome Completo" [obrigatorio]="true" [texto]="true" [valor]="usuario.nome" (mudou)="usuario.nome = $event" [erro]="errorsFromServer?.nome" altura="34px" largura="100%"></app-input>
        </div>

        <div class="linha-flex-ajustada recuo-superior">
          <div class="flex-1">
            <app-input titulo="CPF" [obrigatorio]="true" [valor]="usuario.cpf" (mudou)="usuario.cpf = $event" mask="000.000.000-00" [erro]="errorsFromServer?.cpf" altura="34px" largura="100%" [maxLength]="14"></app-input>
          </div>
          <div class="flex-1">
            <app-input titulo="Telefone" [obrigatorio]="true" [valor]="usuario.telefone" (mudou)="usuario.telefone = $event" mask="(00) 00000-0000" [erro]="errorsFromServer?.telefone" (focusout)="camposTocados.telefone = true" altura="34px" largura="100%" [maxLength]="15"></app-input>
          </div>
        </div>
      </div>

      <div class="secao-ajustada recuo-superior">
        <h3 class="titulo-secao">Endereço (ViaCEP)</h3>
        <div class="linha-flex-ajustada">
          <div class="flex-1">
            <app-input titulo="CEP" [obrigatorio]="true" [valor]="usuario.cep" (mudou)="usuario.cep = $event" (enter)="buscarCep()" mask="00000-000" [erro]="errorsFromServer?.['endereco.cep'] || errorsFromServer?.cep" (focusout)="buscarCep(); camposTocados.cep = true" altura="34px" largura="100%" [maxLength]="9"></app-input>
          </div>
          <div class="flex-1">
            <app-input titulo="Cidade" [obrigatorio]="true" [texto]="true" [valor]="usuario.cidade" (mudou)="usuario.cidade = $event" [erro]="errorsFromServer?.['endereco.cidade'] || errorsFromServer?.cidade" (focusout)="camposTocados.cidade = true" altura="34px" largura="100%"></app-input>
          </div>
        </div>
        
        <div class="linha-flex-ajustada recuo-superior">
          <div class="flex-1">
            <app-input titulo="Bairro" [obrigatorio]="true" [texto]="true" [valor]="usuario.bairro" (mudou)="usuario.bairro = $event" [erro]="errorsFromServer?.['endereco.bairro'] || errorsFromServer?.bairro" (focusout)="camposTocados.bairro = true" altura="34px" largura="100%"></app-input>
          </div>
          <div class="flex-1">
            <app-input titulo="UF" [obrigatorio]="true" [texto]="true" [valor]="usuario.uf" (mudou)="usuario.uf = $event" [erro]="errorsFromServer?.['endereco.uf'] || errorsFromServer?.uf" (focusout)="camposTocados.uf = true" altura="34px" largura="100%"></app-input>
          </div>
        </div>

        <div class="wrapper-individual recuo-superior">
          <app-input titulo="Logradouro" [obrigatorio]="true" [textoNum]="true" [valor]="usuario.logradouro" (mudou)="usuario.logradouro = $event" [erro]="errorsFromServer?.['endereco.logradouro'] || errorsFromServer?.logradouro" (focusout)="camposTocados.logradouro = true" altura="34px" largura="100%"></app-input>
        </div>

        <div class="linha-flex-ajustada recuo-superior">
          <div class="flex-1">
            <app-input titulo="Número" [obrigatorio]="true" [inteiro]="true" [valor]="usuario.numero" (mudou)="usuario.numero = $event" [erro]="errorsFromServer?.['endereco.numero'] || errorsFromServer?.numero" (focusout)="camposTocados.numero = true" altura="34px" largura="100%"></app-input>
          </div>
          <div class="flex-1">
            <app-input titulo="Complemento" [textoNum]="true" [valor]="usuario.complemento" (mudou)="usuario.complemento = $event" altura="34px" largura="100%"></app-input>
          </div>
        </div>
      </div>

      <div class="secao-ajustada">
        <h3 class="titulo-secao">Acesso</h3>
        <div class="wrapper-individual">
          <app-input titulo="E-mail" [obrigatorio]="true" [email]="true" [valor]="usuario.email" (mudou)="usuario.email = $event" [erro]="errorsFromServer?.email" (focusout)="camposTocados.email = true" altura="34px" largura="100%"></app-input>
        </div>
      </div>

      <div class="acoes-finais">
        <app-botao-cancelar (clicou)="router.navigate(['/login'])">Já sou cadastrado</app-botao-cancelar>
        <app-botao-aprovar (clicou)="onSubmit(f)">Finalizar Cadastro</app-botao-aprovar>
      </div>
    </form>
  </app-card-visualizacao>
</div>
