<div class="orcamento-container">
  <app-card-visualizacao>
    <div class="card-content">
      <div class="coluna-esquerda">
        <div class="ajuste">
        <h1 class="titulo-solicitacao">
          Detalhes da Solicitação <br />
          <span>#{{ solicitacao?.id }}</span>
        </h1>
       <div class="timestamp-acesso">
          Acessado em: {{ dataHoraAcesso | date: 'dd/MM/yyyy HH:mm' }}
        </div>
        </div>

        <div class="info-group">
          <div class="info-header">
            <span class="icon-user"></span>
            <h2>CLIENTE:</h2>
          </div>
          <div class="info-box">
            <p class="nome-cliente">{{ cliente?.nome }}</p>
            <p class="telefone-cliente">{{ (cliente?.telefone || '') | telefone }}</p>
          </div>
        </div>

        <div class="info-group">
          <div class="info-header">
            <span class="icon-desktop"></span>
            <h2>CATEGORIA:</h2>
          </div>
          <div class="info-box">
            <p class="nome-equipamento">
              {{ solicitacao?.categoriaEquipamento?.nome }} 
            </p>
          </div>
        </div>

        <div class="info-group">
          <div class="info-header">
            <span class="icon-desktop"></span>
            <h2>EQUIPAMENTO:</h2>
          </div>
          <div class="info-box">
            <p class="nome-equipamento">
              {{ solicitacao?.descricaoEquipamento }}
            </p>
          </div>
        </div>

        <div class="info-group">
          <div class="info-header">
            <span class="icon-wrench"></span>
            <h2>DEFEITO:</h2>
          </div>
          <div class="info-box">
            <p class="texto-defeito">
              {{
                exibirDefeitoCompleto
                  ? solicitacao?.descricaoDefeito
                  : (solicitacao?.descricaoDefeito | slice: 0 : 100)
              }}
              <span
                *ngIf="
                  !exibirDefeitoCompleto &&
                  (solicitacao?.descricaoDefeito?.length || 0) > 100
                "
                >...</span
              >
            </p>

            <a
              class="link-leia-mais"
              style="
                cursor: pointer;
                color: #0d6efd;
                text-decoration: underline;
              "
              *ngIf="(solicitacao?.descricaoDefeito?.length || 0) > 100"
              (click)="alternarLeiaMais()"
            >
              {{ exibirDefeitoCompleto ? "Ler menos" : "Leia mais" }}
            </a>
          </div>
        </div>
      </div>
      <div class="divisor-vertical"></div>

      <div class="coluna-direita">
        <div
          class="status-badge"
          [ngClass]="obterCorDoBadge(solicitacao?.estadoAtual)"
        >
          {{ solicitacao?.estadoAtual }}
        </div>

        <div class="info-group" *ngIf="solicitacao?.descricaoManutencao">
          <h2>LAUDO TÉCNICO:</h2>
          <div class="info-box box-cinza">
            <p>{{ solicitacao?.descricaoManutencao }}</p>
          </div>
        </div>

        <div class="info-group">
          <h2>TÉCNICO RESPONSÁVEL:</h2>
          <div class="info-box box-cinza listagem-precos">
            <p>{{ funcionario?.nome }}</p>
          </div>
        </div>

        <div class="info-group valor-total-group">
          <h2>VALOR TOTAL:</h2>
          <div class="info-box box-total">
            <p class="texto-total">
              {{ solicitacao?.valorOrcado | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <app-botao-cancelar (clicou)="clickCancelar()">
        Rejeitar Serviço
      </app-botao-cancelar>

      <app-botao-aprovar (clicou)="aprovarServico()">
        Aprovar Serviço
      </app-botao-aprovar>
    </div>
  </app-card-visualizacao>
</div>
